name: flutter_google_maps
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.1

dependencies:
  firebase_core: ^4.4.0
  flutter:
    sdk: flutter
  google_maps_flutter: ^2.14.0

dev_dependencies:
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
